aside {
    width: 200px;
    background: #202020;
    box-shadow: 0 0 2px 0 #000;
}

file {
    color: #fff;
    padding: 2px;
    width: 100%;
    /*text-align: center;*/
    background: #3A3A3A;
    display: block;
    box-sizing: border-box;
}

file:hover {
    background: #4A4A4A;
    cursor: pointer;
}

file.active {
    background: #5A5A5A;
}

header {
    padding: 15px;
    font-style: italic;
    background: #303030;
    color: #a0a0a0;
}

button{
    color:#a0a0a0;
    background: #404040;
    border:0;
    border-radius: 3px;
}